<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/app.css'%}">
	</head>
	<body> 
		<div>
			<h1><a href="/">Домашняя страница</a></h1> 
		</div>
		
		<div> 
			<h2>Здравствуй, Пользователь!</h2>
		</div>

		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% for contract in contracts %}
					<div class="contract">
						<div class="date">
							<p>Дата заказа: {{ contract.date_of_conclude }}</p>
						</div>
						<h1>Заказчик: <a href="">{{ contract.client }}</a></h1>
						<p>Заказ: {{ contract.product }}<p>
						<p>Количество: {{ contract.quantity}}<p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</body> 
</html>

