{% load static %}
<html>
    <head>
        <title>Управление заказами</title>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
    </head>
    <body>
        <div class="nav">
            <a href="/"><img src="{% static 'img/logo_transparent.png'%}"></a>
            <a href="/clients/"><div>Список клиентов</div></a>
            <a href="/products/"><div>Список товаров</div></a>
            <a href="/orders/"><div>Список заказов</div></a>

            <a href="/clients/new/"><div>Добавить клиента</div></a>
            <a href="/products/new/"><div>Добавить товар</div></a>
            <a href="/orders/new/"><div>Добавить заказ</div></a>
        </div>

        <div class="content">
            <h1>Главная</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eros arcu, venenatis at mauris quis, suscipit sollicitudin lectus. Sed luctus luctus malesuada. Nulla quis lectus risus. Nam maximus nisi at arcu tempor, ac varius lacus molestie. Integer non turpis vehicula, mollis risus in, ullamcorper diam. Ut imperdiet, libero ut viverra molestie, leo metus egestas dui, sit amet tempus augue libero sit amet erat. Curabitur et massa suscipit, fermentum odio in, condimentum enim. Phasellus id nunc id tellus pulvinar venenatis malesuada nec mi. Sed non sodales nulla. Sed venenatis libero dictum ante vehicula consequat. Phasellus eros ante, suscipit commodo elementum eu, gravida eget magna. Maecenas egestas commodo tortor sit amet lobortis. Morbi malesuada nibh nec sapien vehicula tempor.

Fusce egestas augue non orci maximus, sed euismod tellus accumsan. Quisque et euismod justo. Aliquam eget diam euismod, mattis turpis et, vestibulum diam. Nullam viverra nisi orci, at tempus nibh interdum ut. Donec nisl metus, congue et sodales sed, molestie id tortor. Pellentesque bibendum leo convallis commodo consectetur. Morbi et fermentum massa.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed facilisis, lacus ut sagittis efficitur, orci mi auctor metus, et convallis sapien nisi et augue. Maecenas justo ante, finibus in arcu id, porttitor accumsan augue. Nunc aliquet pretium mattis. Morbi ac arcu sit amet odio blandit fermentum vehicula vel magna. Praesent eget tristique ex.

Cras mattis, tellus a dignissim dictum, leo libero placerat dolor, eget aliquam massa est non leo. Nulla dapibus, odio at semper pulvinar, urna ipsum vulputate sapien, et laoreet lorem erat vel quam. Proin a faucibus tellus. Duis suscipit tristique libero. Aenean feugiat mauris ac velit molestie, malesuada dictum elit condimentum. Donec feugiat erat placerat, pellentesque mi ac, suscipit purus. Curabitur tempor vel elit non vestibulum. Fusce pretium sagittis aliquam. Praesent eget tellus semper, ultricies dui non, laoreet augue. In eget condimentum sapien, sodales tincidunt lectus. Pellentesque quis justo ut elit pellentesque hendrerit. Suspendisse sagittis erat sit amet auctor volutpat. Vestibulum porttitor lacus lorem. Quisque pharetra vulputate risus, nec maximus arcu tempus id.

Aenean in ultricies quam, vel mollis justo. Nullam et turpis aliquet, aliquam urna interdum, faucibus tellus. Aliquam faucibus, orci ut mollis dapibus, turpis libero gravida nunc, in eleifend leo nulla sodales sem. Integer vitae ornare tellus, et condimentum neque. Morbi in scelerisque ante, eget facilisis arcu. Phasellus nulla enim, facilisis ac congue ac, iaculis ac lorem. Donec nec posuere justo. Nullam in laoreet magna. Nunc leo tellus, porttitor id pulvinar vitae, pretium id ex. In pellentesque eleifend neque non fringilla. Quisque at magna imperdiet, pulvinar nunc in, aliquet lorem.
        </div>

    </body>
</html>
